{% extends "base.html" %}

{% block body %}
    <div class="row-parent">
        <div class="box-child">
            <h3>Search Single Player</h3>
            <form action="/summoner" method="GET">
            <textarea class="form-control" id="ign" name="ign" placeholder="Summoner 1, Summoner 2, Summoner 3 ..." rows="10" ></textarea>
            <input type="submit" value="Search" class="submit-button"></input>
            </form>
        </div>
        <div class="box-child">
            <h3>Search Multiple Player</h3>
            <textarea class="form-control" id="ign" name="ign" placeholder="Summoner 1 joined the room.&#10;Summoner 2 joined the room.&#10;Summoner 3 joined the room.&#10;Summoner 4 joined the room.&#10;Summoner 5 joined the room.&#10;" rows="10" ></textarea>
        </div>
        <div class="box-child">
            <h3>Current Leaderboard</h3>
        </div>
    </div>
{% endblock %}